@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

$mainBackground: #e7e7b9;
$headerBackground: rgb(47, 87, 14);

$mainFont: "Montserrat", sans-serif;
